.users-container {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.user-item {
  background-color: #f8f9fa;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  text-align: left;
  max-width: 400px;
  margin: 20px auto;
}
