.div-ta {
    background-color: #6daff6;
    margin: 0;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    padding: 10px 0;
    text-align: center;
}

.titulo-ta {
    margin: 0;
    padding: 0;
}
