button.btn-lista {
  margin-left: 10px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
}

button.btn-lista:active {
  background-color: #007bff;
  color: white;
}

ul {
  padding: 0;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.task-buttons {
  display: flex;
  gap: 10px;
}

li.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 16px;
}

button.btn-eliminar {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button.btn-eliminar:hover {
  background-color: #c82333;
}

button.btn-editar {
  background-color: #ffc107;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button.btn-editar:hover {
  background-color: #e0a800;
}

button.btn-guardar {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button.btn-guardar:hover {
  background-color: #218838;
}
